DerivedData/*
StatementList.xcodeproj/xcuserdata/*
StatementList.xcworkspace/contents.xcworkspacedata
Pods/*
StatementList.xcworkspace/xcuserdata/shelton.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist